<section *ngIf="subscriptionPlanLst" class="order-form m-4">
    <div class="container pt-4">
        <section id="pricing" class="pricing-content section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Pricing Plans</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>
                </div>
                <div *ngFor="let subscription of subscriptionPlanLst" class="row mt-4 text-center">
                    <div class="row">
                        <h2 class="fw-bolder">{{subscription.planeType}}</h2>
                    </div>
                    <div *ngFor="let subscriptionDetials of subscription.subscriptionDetials"
                        class="col-lg-4 m-0 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s"
                        data-wow-delay="0.1s" data-wow-offset="0"
                        style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <div class="pricing_design">
                            <div class="single-pricing">
                                <div class="price-head">
                                    <h2>{{subscriptionDetials.subscriptionName}}</h2>
                                    <h1>{{subscriptionDetials.planAmmount | currency:'USD'}}</h1>
                                    <span>/{{subscription.planeType}}</span>
                                </div>
                                <ul>
                                    <li>{{subscriptionDetials.aboutSubscription}}</li>
                                </ul>
                                <a style="cursor: pointer;"
                                    [routerLink]="['/Account/create-account',subscriptionDetials.subscriptionId]"
                                     class="price_btn">Order Now</a>
                            </div>
                        </div>
                    </div><!--- END COL -->
                </div><!--- END ROW -->
            </div><!--- END CONTAINER -->
        </section>

    </div>
</section>