<section class="order-form m-4">
    <div class="container pt-4">
        <section id="pricing" class="pricing-content section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Payment</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout.</p>

                </div>
                <div class="mx-5 px-5">

                    <form id="payment-form" class="col-lg-12">
                        <div class="row mb-1 d-flex justify-content-center">
                            <div class="col-6">
                                <span class="h5 fw-bolder">Subscription Type</span>
                                <span class="h5 fw-bolder float-end">{{subscriptionType}}</span>
                            </div>
                        </div>
                        <div class="row mb-1 d-flex justify-content-center">
                            <div class="col-6">
                                <span class="h5 fw-bolder">Subscription Ammount</span>
                                <span class="h5 fw-bolder float-end">{{subscriptionAmmount | currency:'USD'}}</span>
                            </div>
                        </div>
                        <div class="row mb-5 d-flex justify-content-center">
                            <div class="col-6">
                                <span class="h5 fw-bolder">Subscription Total</span>
                                <span class="h5 fw-bolder float-end">{{totalAmmount | currency:'USD'}}</span>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-11">
                                <div id="card-number-element1" class="field"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="card-expiry-element1" class="field"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="card-cvc-element1" class="field"></div>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" id="btnAddCard">Submit</button>
                            </div>
                        </div>
                        <!-- <div class="row d-flex justify-content-center">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="CardHolderName" class="form-label fw-bolder">Card Holder Name</label>
                                    <input maxlength="40"  type="text"
                                        id="CardHolderName" placeholder="Card Holder Name" class="form-control"
                                    />

                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 d-flex justify-content-center">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="card-number-element" class="form-label fw-bolder">Card Number</label>
                                   <div id="card-number-element" class="feild"></div>

                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 d-flex justify-content-center">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="card-expiry-element" class="form-label fw-bolder">Card Expiry
                                    </label>
                                        <div id="card-expiry-element" class="feild"></div>                              
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 d-flex justify-content-center">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="CVVIdeneity" class="form-label fw-bolder">Card CVC</label>
                                        <div id="card-cvc-element" class="feild"></div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 d-flex justify-content-center">
                            <div class="col-6">
                                <button type="button" class="btn btn-info">Save without Card Details</button>
                                <button type="submit" class="btn btn-primary float-end">Submit</button>
                            </div>
                        </div> -->
                    </form>

                </div>
            </div>
        </section>
    </div>
</section>

