<main id="main" class="main">
    <div class="pagetitle">
        <h1>Subscription</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Admin">Home</a></li>
                <li class="breadcrumb-item">Components</li>
                <li class="breadcrumb-item active">Subscription</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="col-md-12 scrollbar scrollbar-near-moon thin">
            <div class="force-overflow">
                <div class="card border-style bg-white">
                    <div class="row mb-3 p-3">
                        <div class="col float-end">
                        </div>
                        <div class="col float-end ">
                            <button type="button" (click)="SubscriptionUpgrade()"  class="btn btn-secondary float-end p-2"><i
                                    class="bi bi-plus-square">&nbsp;Upgrade&nbsp;
                                    Subscription</i>
                            </button>
                        </div>
                    </div>
                    <div class="w-100">
                        <div class="overflow-scroll p-2">
                            <table class="table table-striped table-hover table-bordered">
                                <thead class="bg-primary text-white">
                                    <tr>
                                        <th scope="col">Sr.No.</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Phone</th>
                                        <th scope="col">Activity</th>
                                        <th scope="col">Edit</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>