.profile-name-tag {
    font-size: 4em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    letter-spacing: 4px;

}