<header id="header" class="header d-print-none fixed-top d-flex align-items-center bg-color-header">
    <app-admin-left-header [getLoggerEmail]="sendLoggerEmail" [getLoggerRole]="sendLoggerRole"></app-admin-left-header>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i
                        class="bi bi-search"></i> </a></li>
            <app-admin-right-header [getLoggerEmail]="sendLoggerEmail"></app-admin-right-header>
        </ul>
    </nav>
</header>